<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:orientation="vertical"
        android:layout_centerInParent="true"
        android:layout_width="fill_parent"
        android:paddingTop="30dp"
        android:layout_height="fill_parent">
        <refractored.controls.CircleImageView xmlns:app="http://schemas.android.com/apk/res-auto"
            android:id="@+id/imageViewContact"
            android:layout_width="96dp"
            android:layout_height="96dp"
            android:layout_gravity="center_horizontal"
            android:src="@drawable/ContactImage"
            app:civ_border_width="2dp"
            app:civ_border_color="#eedc00" />
        <TextView
            android:text=""
            android:textAppearance="?android:attr/textAppearanceLarge"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:paddingBottom="30dp"
            android:textAlignment="center"
            android:id="@+id/textViewDescrizione" />
        <Button
            android:paddingLeft="10px"
            android:paddingRight="10px"
            android:textColor="#FFFFFF"
            android:background="#1848b7"
            android:text="Seleziona Contatto"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:id="@+id/buttoncerca" />
        <ListView
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/listViewContacts" />
    </LinearLayout>
</RelativeLayout>