<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:minWidth="200dp"
    android:orientation="vertical">
    <TextView
        android:textColor="#FFFFFF"
        android:background="#1847b9"
        android:text="EPI ALERT MESSAGE"
        android:paddingLeft="8dp"
        android:paddingTop="13dp"
        android:height="40dp"
        android:layout_width="match_parent"
        android:textStyle="bold"
        android:layout_height="wrap_content" />
    <TextView
        android:id="@+id/editText"
        android:text="Utente"
        android:textColor="#1848b7"
        android:textStyle="bold"
        android:textAlignment="center"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="12.5dp" />
    <refractored.controls.CircleImageView xmlns:app="http://schemas.android.com/apk/res-auto"
        android:id="@+id/imageViewContact"
        android:layout_width="100dp"
        android:layout_height="100dp"
        android:layout_gravity="center_horizontal"
        android:src="@drawable/ContactImage"
        app:civ_border_width="2dp"
        app:civ_border_color="#eedc00"
        android:layout_marginTop="15.5dp" />
    <TextView
        android:id="@+id/editTextNumber"
        android:text="Numero"
        android:textAlignment="center"
        android:textColor="#000000"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginTop="12.5dp" />
    <RelativeLayout
        android:layout_width="wrap_content"
        android:layout_height="100dp"
        android:orientation="horizontal"
        android:layout_marginTop="0.0dp"
        android:layout_marginBottom="0.0dp">
        <ImageButton
            android:scaleType="fitCenter"
            android:id="@+id/close"
            android:layout_width="50dp"
            android:layout_height="50dp"
            android:src="@drawable/close"
            android:background="@drawable/custom_toast_red"
            android:layout_alignParentBottom="true"
            android:layout_alignParentLeft="true"
            android:layout_marginBottom="13.0dp"
            android:layout_marginTop="10.5dp"
            android:layout_marginLeft="28.0dp" />
        <ImageButton
            android:scaleType="fitCenter"
            android:id="@+id/call"
            android:layout_width="50dp"
            android:layout_height="50dp"
            android:src="@drawable/call"
            android:background="@drawable/custom_toast_green"
            android:layout_alignParentBottom="true"
            android:layout_alignParentRight="true"
            android:layout_marginBottom="13.0dp"
            android:layout_marginTop="10.5dp"
            android:layout_marginRight="28.0dp" />
    </RelativeLayout>
</LinearLayout>